*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
     --primary-color: #222260;
     --primary-color2: 'color: rgba(34,34,96,.6)';
     --primary-color3: 'color: rgba(34,34,96,.4)';
     --color-green: #42AD00;
     --color-grey: #aaa;
     --color-accent: #F56692;
     --color-delete: #FF0000;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: clamp(1rem,1.5vw,1.2rem);
    overflow: hidden;
    color: rgba(34,34,96,.6)
}

.Orb{
    width: 70vh;
    height: 70vh;
    position: absolute;
    border-radius: 50%;
    margin-left: -37vh;
    margin-top: -37vh;
    background: linear-gradient(180deg ,#F56692 0%, #F2994A 100%);
    filter: blur(400px)
}
.app{
    height:100vh;
    position: relative;
    .main{
        flex: 1;
        background: rgba(252, 246, 249, 0.78);
        border: 3px solid #FFFFFF;
        backdrop-filter: blur(4.5px);
        border-radius: 32px;
        overflow-x: hidden;
        &::-webkit-scrollbar{
        width: 0;
        }
    }
}